:root{
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-b-red: hsla(0, 100%, 67%, 0.1);
    --Orangey-b-yellow: hsla(39, 100%, 56%, 0.1);
    --Green-b-teal: hsla(166, 100%, 37%, 0.1);
    --Cobalt-b-blue: hsla(234, 85%, 45%, 0.1);
    
    /* Gradients */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: rgba(250, 249, 255,
0.315);

    font-family: 'Hanken Grotesk', sans-serif;
}
/* header{
    display: grid;
    place-items: center;
    width: 1440px;
    width: 375px;
    background: red;
    background: rgb(0, 255, 255);
} */
main{
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1440px;
    max-width: 735px;
    place-items: center;
    box-shadow: 10px 10px 30px rgba(63, 60, 75, 0.096);
    border-radius: 30px;



}
    @media screen and (max-width: 750px){
        body{
            max-width: 100vw;
            align-items:flex-start;
            justify-content: center;
        }
        main{
            max-width: 100%;
            grid-template-columns: 1fr;
        }
        .first{
            border-radius: 0 0 30px 30px;
        }
    }

section{
    min-height: 510px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 30px;
}
.first{
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
}
.second{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background: white;
}

.first > h2{
    font-size: 1.35em;
    top: 40px;
    position: relative;
    color: rgba(255, 255, 255, 0.603);
}
.first .circle{
    width: 200px;
    border-radius: 50%;
    /* box-shadow: inset 0px 30px 100px 10px var(--Violet-blue-circle); */
    /* background: rgb(78, 78, 255); */
    background: linear-gradient(var(--Violet-blue-circle), transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75px;
    aspect-ratio: 1 / 1;
    position: relative;
}
.first .circle h1{
    position: absolute;
    font-size: 4em;
    top: 50px;
}
.first .circle p{
    position: absolute;
    font-size: 1.1em;
    top: 130px;
    font-weight: 600;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.3);
}
.first .great{
    position: relative;
    top: 107px;
    font-size: 1.8em;
    color: #ffffffd8;
}
.first .greatp{
    position: relative;
    top: 127px;
    margin: 0px 60px;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.644);
}



.second .summary{
    position: relative;
    top: 10px;
    left: 10px;
}
.boxe{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10px;
}
.boxes{
    width: 98%;
}
.one{
    color: var(--Light-red);
    margin-left: 13px;
}
.two{
    color: var(--Orangey-yellow);
    margin-left: 13px;
}
.three{
    color: var(--Green-teal);
    margin-left: 13px;
}
.four{
    color: var(--Cobalt-blue);
    margin-left: 13px;
}
span {
    width: 95%;
    height: 55px;
    border-radius: 10px;
    margin: 18px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 15px 12px;
}
.num1{
    background: var(--Light-b-red);
}
.num2{
    background: var(--Orangey-b-yellow);
}
.num3{
    background: var(--Green-b-teal);
}
.num4{
    background: var(--Cobalt-b-blue);
}

.content{
    display: flex;
    padding: 0 6px;
}
.score{
    margin-right: 10px;
    font-weight: 700;
}
span p {
    color: black;
}
.continue{
    width: 97%;
    display: flex;
    align-items: center;
    margin-top: 20px;


button{
    color: #fff;
    font-size: x-large;
    width: 100%;
    outline: none;
    height: 58px;
    border: none;
    background: --;
    border-radius: 50px;
    margin-left: 10px;
}
button:hover{

    background: 
        linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));

 


}

footer { font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }


img{
    position: absolute;
    user-select: none;
    opacity: 0;
    width: 1440px;
}
