:root{
    /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-b-red: hsla(0, 100%, 67%, 0.07);
    --Orangey-b-yellow: hsla(39, 100%, 56%, 0.07);
    --Green-b-teal: hsla(166, 100%, 37%, 0.07);
    --Cobalt-b-blue: hsla(234, 85%, 45%, 0.07);
    
    /* Gradients */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
@import url(https://fonts.google.com/specimen/Hanken+Grotesk);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgba(250, 249, 255, 0.315);
    font-family: 'Hanken Grotesk', sans-serif;
}
/* header{
    display: grid;
    place-items: center;
    width: 1440px;
    width: 375px;
    background: red;
    background: rgb(0, 255, 255);
} */
main{
    background: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1440px;
    max-width: 735px;
    place-items: center;
    box-shadow: 10px 10px 30px rgba(63, 60, 75, 0.096);
    border-radius: 30px;
}

section{
    min-height: 510px;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 30px;
}
.first{
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    background: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
}
.second{
    display: flex;
    flex-direction: column;
    background: white;
}

.first > h2{
    font-size: 1.35em;
    top: 40px;
    position: relative;
    color: rgba(255, 255, 255, 0.603);
}
.first .circle{
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 75px;
    aspect-ratio: 1 / 1;
    position: relative;
}
.first .circle h1{
    position: absolute;
    font-size: 4em;
    top: 50px;
}
.first .circle p{
    position: absolute;
    font-size: 1.1em;
    top: 130px;
    font-weight: 600;
    letter-spacing: 0.07em;
    color: rgba(255, 255, 255, 0.3);
}
.first .great{
    position: relative;
    top: 107px;
    font-size: 1.8em;
    color: #ffffffd8;
}
.first .greatp{
    position: relative;
    top: 127px;
    margin: 0px 60px;
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.644);
}



.second .summary{
    position: relative;
    top: 10px;
    left: 10px;
}
.boxe{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10px;
}
.boxes{
    width: 98%;
}
.one{
    color: var(--Light-red);
    margin-left: 13px;
}
.two{
    color: var(--Orangey-yellow);
    margin-left: 13px;
}
.three{
    color: var(--Green-teal);
    margin-left: 13px;
}
.four{
    color: var(--Cobalt-blue);
    margin-left: 13px;
}
span {
    width: 95%;
    height: 55px;
    border-radius: 10px;
    margin: 18px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 15px 12px;
}
.num1{
    background: var(--Light-b-red);
}
.num2{
    background: var(--Orangey-b-yellow);
}
.num3{
    background: var(--Green-b-teal);
}
.num4{
    background: var(--Cobalt-b-blue);
}

.content{
    display: flex;
    padding: 0 6px;
}
.score{
    margin-right: 10px;
    color: black;
}
span p {
    font-weight: 700;
}
span p:last-child {
    color: rgba(0, 0, 0, 0.4);
}
.continue{
    width: 97%;
    display: flex;
    align-items: center;
    margin-top: 20px;

}
button{
    color: #fff;
    font-size: x-large;
    width: 100%;
    outline: none;
    height: 58px;
    border: none;
    background: var(--Dark-gray-blue);
    border-radius: 50px;
    margin-left: 10px;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(to bottom left,var(--Light-slate-blue-background), var(--Light-royal-blue-background));
}

footer {
    margin-top: 20px; 
    font-size: 11px;
    text-align: center; 
}
footer a {
    color: hsl(228, 45%, 44%);
}


img{
    position: absolute;
    user-select: none;
    opacity: .5;
    top: 0;
    /* width: 375px; */
    /* width: 1440px; */
}


@media screen and (max-width: 750px){
    body{
        justify-content: flex-start;
    }
    main{
        width: 375px;
        max-width: 100%;
        grid-template-columns: 1fr;
    }
    section{
        min-height: 355px;
    }
    .first{
        border-radius: 0 0 30px 30px;
    }
    .first > h2{
        top: 22px;
        font-size: 17.2px;
    }
    .first .circle{
        top: 50px;
        width: 140px;
    }
    .first .circle h1{
        top: 30px;
        font-size: 60px;
    }
    .first .circle p{
        top: 100px;
        font-size: 15px;
    }
    .first .great{
        top: 80px;
        font-size: 23px;
    }
    .first .greatp{
        top: 90px;
        font-size: 15px;
    }


    .second .summary{
        letter-spacing: 0.1em;
        left: 25px;
        top: 30px;
        font-size: 17.45px;
    }
    .second .boxe{
        top: 30px;
    }
    .second .boxe .boxes{
        width: 90%;
    }
    .second .boxe .boxes span{
        height: 57px;
        margin: 0 0 15.5px 0;
    }
    .continue{
        width: 100%;
        margin-top: 38px;
        height: 85px;
        justify-content: center;
    }
    button{
        width: 87%;
        font-size: 20px;
    }
    
}
